<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ffu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 위치 권한 요청 관련-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FFU"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FFU">

        <!-- naver map API auth info -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="@string/naver_map_client_id" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckPhoneNumActivity" />
        <activity android:name=".JoinActivity" />
        <!---
        <activity android:name=".recommend.RecommendFragment" />
        <activity android:name=".profile.ProfileActivity" />-->
        <activity android:name=".BackgroundActivity"/>
        <activity android:name=".profile.ProfileSettingActivity" />
        <activity android:name=".chatdetail.ChatRoomActivity"/>
    </application>

</manifest>