<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ffu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FFU"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FFU">
        <activity
            android:name=".RootActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckPhoneNumActivity" />
        <activity android:name=".JoinActivity" />

        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ProfileSettingActivity" />
        <activity android:name=".MbtiActivity" />
        <activity android:name=".PersonalActivity" />
        <activity android:name=".HobbyActivity" />
        <activity android:name=".ReligionActivity" />
    </application>

</manifest>